body {
  text-align: center;
  background-color: #222324;
  font-family: Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  text-align: center;
}

button{
  background-color: lightblue;
  width: 200px;
  height: 50px;
  padding: 3px;
  border-radius: 30px;
  font-size: 20px;
}

button:hover{
  background-color: lightgreen;
}

button#currfile{
  background-color: green;
  color: white;
}

input{
  border-radius: 10px;
  text-align: left;
  height: 20px;
  width: 200px;
  padding: 5px;
}

table {
  text-align: left;
}

table.display{
  max-width: 75%;
  padding-left: 10px;
  border:solid black;
  padding: 20px;
}
div.collection{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis
  white-space: nowrap;
  max-width: 154px;

}

.alert {
  border-radius: 70px;
  padding: 8px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 20px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

ul {
  text-align: left
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_close_list_items*/
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_alerts*/
/*#error_div {
  width: 400px;
  padding:10px;
  color: #D8000C;
  background-color: #FFD2D2;
  border-radius: 30px;
  transition: 1s;
}

#error_div:hover {
  width: 450px;
}*/