<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Social Scene</title>
	<link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body>
	<div id="outerdiv">
		<header className="App-header" key="splash_screen">
          <h1>SocialScene</h1>
          <div>
          
          To get started, <br/>Please choose an option.

          <br/>
          <br/>
          
          <div>
            <button onclick="window.location.href='/login'"> Login </button>
          </div>

          &nbsp;
          <br/>

          <div>
            <button onclick="window.location.href='/register'"> Register </button>
          </div>
          </div>
        </header>
	</div>
</body>
</html>