<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Social Scene</title>
	<link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body>
  <header key="splash_screen">
    <div class="App-header" onclick="window.location.href='/'" style="cursor:pointer;">
      SocialScene
    </div>
  </header>
  <br/><br/><br/>
  <div class="login_body" id="outerdiv">
    <br/><br/>
    To Get Started, <br/>Please Choose an Option.

    <br/><br/><br/>
    
    <div>
      <button onclick="window.location.href='/login'"> Login </button>
    </div>

    <br/>

    <div>
      <button onclick="window.location.href='/register'"> Register </button>
  </div>
  <br/><br/><br/><br/><br/><br/> 
  </div>
      <img src = '/2.png' class="TMDB_pic">
	</div>
</body>
</html>
