<!DOCTYPE html>
<html>
  <head>
    <title>Group Chat</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; font-family: Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif; font-size: 15px; background-color: white;}
        form { background: #fff; padding: 0px; position: fixed; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;}
        form input { border-style: solid; border-width: 1px; padding: 10px; width: 86%;  }
        form button { background: rgb(130, 224, 255); border: none; padding: 10px;margin: none;}
        form button:hover {background:teal}
        #messages { list-style-type: none; margin: 0; padding: 0;}
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { color: green; }
    </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>
    <ul id="messages" style="height: 350px;overflow-y: auto;"></ul>
    <form action="/" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="Enter your message here..." /><button>Send</button>
    </form>
    <script>
            var socket = io.connect();

            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('chat_message', $('#txt').val());
                $('#txt').val('');
                return false;
            });

            // append the chat text message
            socket.on('chat_message', function(msg){
                $('#messages').append($('<li>').html(msg));

                // auto scroll chat when msg is sent
                const messages = document.getElementById('messages');
                messages.scrollTop = messages.scrollHeight;
            });

            // append text if someone is online
            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });

            socket.emit('username', "<%=fname%>"+" "+"<%=lname%>");
    </script>
  </body>
</html>