<!DOCTYPE html>
<html>
<head>
</head>
<title>Database Test</title>
<body>
<div>
	<form action="/login" method="post" >
		email:<input id="email" type="text" name="email">
		<button>Enter</button>
	</form>
</div>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
	    <li><%= r.id %> | <%= r.email %> | <%= r.type %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
