<!DOCTYPE html>
<html>
<head>
	<title>Manage Friends</title>
	<link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body>
	<header key="splash_screen" style="width: 100%">
		<div class="App-header" onclick="window.location.href='/user'" style="cursor:pointer;">
			SocialScene
		</div>
	</header>

  <!-- navigation bar -->
	<ul>
		<li><a href="/user" >Home</a></li>
		<li><a href="/bookmarks">Bookmarks</a></li>
		<li class="drop">
		  <a class="current" href="/fmanage">Friends List</a>
		  <div class="droplist">
		    <a href="/fsearch" style="border: 0px">Manage Friends</a>
		  </div>
		</li>
		<li><a href="/reviews">Friends Reviews</a></li>
	    <li style="float: right"><a href="/logout">Logout</a></li>
	    <li style="float: right"><a href="/edituser">Edit User</a></li>
	    <li style="float: right"><a href="/tmdb">Search</a></li>
  	</ul> 

	<%var n = rows.length%>
	<%if (n !=0){%>
	<h1 style="color: white">Your Friends List</h1>
	<%var friendEmail=''%>
	<table class="friendList" style="text-align: center;">
		<%for(var i=0; i<n;i++){ %>
			<%var r = rows[i]%>
				<%if(r.email1 == user){%>
					<%friendEmail = r.email2;%>
				<%}else{%>
					<%friendEmail = r.email1;%>
				<%};%>
			<tr>
				<td width="60%"><%=friendEmail%></td>
				<td >
					<form method="post" action="unfriend">
						<input type="hidden" name="friendEmail" value="<%=friendEmail%>">
						<button>Unfriend</button>
					</form>
				</td>
			</tr>
		<%};%>
	</table>
	<%}else{%>  
		<h1 style="color: white;margin-top: 150px"> You Have Not Added Any Friends :(</h1>
	<% }; %>
</body>
</html>