<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Social Scene</title>
	<link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body>
	<div id="outerdiv">
    <header className="App-header" key="login_screen">
      <h1>SocialScene</h1>
      <div>
        <button onclick="window.location.href='/register'"> Register </button>
        &nbsp;
        &nbsp;
        <button id="currfile" disabled> Login </button>
      </div>
      &nbsp;
      <h2>Login</h2>

      <div class="alert" style ="display: <%= val %>">
        <span class="closebtn"> x </span>
        Incorrect username / password entered
      </div>
      
      <form action="/login" method="post">
        <table>
          <tbody>
            <tr>
              <td>Enter your email: &nbsp;</td>
              <td><input type="email" name="login_email" required /> </td>
            </tr>

            <tr>
              <td>Enter your password: &nbsp;</td>
              <td><input type="password" name="login_pass" required /> </td>
            </tr>

          </tbody>
        </table>

        <br/>
        <button id="submitbutton" > Submit </button>
      </form>
    </header>
	</div>
</body>
</html>

<script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }
}
</script>