<!DOCTYPE html>
<html>
<head>
	<title>Friends</title>
	<link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body>
<header key="splash_screen">
		<div class="App-header" onclick="window.location.href='/user'" style="cursor:pointer;">
			SocialScene
		</div>
		<div class="header_div" style="align-content: center;">
			<% if (results.length == 0){%>
				<p style="color: red">There are no results to display.<br/>Please try a different keyword </p>
			<%}else{%>
				<p>Now Displaying <span style="color: red;"><%=results.length%></span> Search Results</p>
			<%};%>
		</div>
	</header>
	
	<br/>
	<br/>
	<% if (results.length == 0){%>
		<br/>
		<div class="register_body" id="outerdiv">
				<br/>
					Please Enter a New<br/>Search for a Friend <br/>
				<br/>
			
				<form action="/searchfriends" method="post">
				<table name="login_table" align="center">
					<tbody align="center" style="padding: 2px;">
					<tr>
						<td>First Name:</td>
					</tr>
					<tr>
						<td><input type="text" name="fname" required /> </td>
					</tr>
					<tr>		
						<td>Last Name:</td>
					</tr>
					<tr>
						<td><input type="text" name="lname" required /> </td>
					</tr>
					</tbody>
				</table>
				<span id="chkermsg" style="display:none;font-size:calc(4px + 2vmin)" ></span>
				<br/>
				<br/>
					<button id="submitbutton"> Search </button>
				</form>
				<br/>
				<div>
					<button class="button submit_button" onclick="window.location.href='/user'"> Back </button>
				</div>
			</div>
	<%};%>

	
	<!-- listing out the data -->
	<% var n = results.length;%>
	<% for (var i=0; i<n ; i++) { %>
		
	<div class='collection' onmouseout='this.style.opacity=1' onmouseover='this.style.opacity=0.5' onclick='document.forms[<%=i%>].submit()' style=" display: inline-block;">
		<% r = results[i]; %>
		<%= r.fname %> <%= r.lname %> <button class="button user_div_user_bttn" style="width: 150px">Send Friend Request</button>
		
	</div>
	<% }; %>

</body>
</html>