<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
</head>
<body>
	<h1> Results</h1>
	<ul>
		<!-- listing out the data -->
		<% data.forEach(function(r) { %>
		<li>id :<%= r.id %><br>
			title :<%= r.title, %><br>
			description: <%= r.overview %><br>
			poster_path: <%= r.poster_path %></li>
		    <% }); %>
	</ul>
</body>
</html>
