<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>Enter here</h1>
	<div>
	<!-- a search box -->
		<form method= 'post' action = '/searchtv'>
			<input type="text" name="keyword" placeholder ="search here"required>
			<button>search</button>
		</form>
	</div>

</body>
</html>